<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.imishx.activityrouter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.github.imishx.activityrouter.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.imishx.activityrouter.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.github.imishx.activityrouter.ProductDetailActivity"/>
        <activity android:name="com.github.imishx.activityrouter.ProductBuyActivity"/>
        <activity android:name="com.github.imishx.activityrouter.LoginActivity"/>
        <activity android:name=".WebInfo"/>
    </application>

</manifest>
